<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>workout_completion</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>
<body>
    <p> Hello {{value}} !</p>
    <br><br><br>
    <caption><h2> Here is your Graph: </h2></caption>
    <br><br>
    <div id="completion_graph">
        <canvas id="myCompletionChart" width="400" height="100"></canvas>
        <script>
            var ctx = document.getElementById("myCompletionChart").getContext("2d");
            var pieChart = new Chart(ctx, {
                type: "bar",
                data:{
                    labels:{{labels| safe}},
                    datasets:[{
                        label:"Workout Completion %",
                        data: {{values|safe}},
                        //fill: false,
                        backgroundColor: [
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)', 'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                        ],
                        borderWidth: 3,
                            }]
                    },
                });
        </script>
    </div>
</body>
</html>