<!doctype html>

<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" type="text/css" href="../static/styels/main_page.css" />
    </head>
    
    <body>
        <p id="user_name"> Hello {{value}} !</p>
        <br><br>
        <br><br>
        <br><br>
        <form method="POST" action="">
            <input type="submit" name="btn_schedule" value="Make your weekly schedule"> </input>
        </form>
        <br><br>
        <br><br>

        <div class="dropdown">
          <button class="drop_btn">Show my weekly progress</button>
          <div class="dropdown-content">
            <a href="/motivation/{{user_id}}">Motivation</a>
            <a href="#">Personal difficulty</a>
            <a href="#">Completion</a>
            <a href="#">Workout type</a>
            <a href="#">Total workout time</a>
          </div>
        </div>
    </body>
</html>