<!doctype html>

<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" type="text/css" href="../static/styels/main_page.css" />
    </head>
    
    <body>
        <p id="user_name"> Hello {{value}} !</p>
        <br><br>
        <br><br>
        <br><br>
        <form method="POST" action="">
            <input type="submit" name="btn" value="Make your weekly schedule"> </input>
        </form>
        <br><br>
        <br><br>
        <div>
            <p>Show my weekly progress</p>
            <ul id="drop_down">
             <li><a href="downloads/my%20first%20uml%20Diagram.pdf">Motivation,Personal difficulty and Completion </a></li>
             <li><a href="downloads/my%20first%20uml%20Diagram.pdf">Workout type </a></li>
             <li><a href="downloads/my%20first%20uml%20Diagram.pdf">Total workout time </a></li>
             </ul>
        </div>
    </body>
</html>