<!doctype html>

<html>
<html lang='en'>
    <head>
        <title>Weekly Schedule</title>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css"  />
         <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js"></script>
    </head>
    <body>
        <p> Hello {{value}} !</p>
        <br><br><br>
        <caption><h2> Here is your schedule: </h2></caption>
        <br><br>
        <div id="calendar"></div>

        <script>
            let calendarEl = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarEl,{
                initialView: 'dayGridMonth',
                eventClick: function(info) {

                    //check if the report for this event is already in database
                    var event_date = info.event.startStr;
                    //var event_title= info.event.title;
                    var id = "{{value_id}}"
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/check if reported", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    var reported = 0;
                    //send event details to server
                    xhr.send(JSON.stringify({
                        _id:id,
                        workout_date: event_date,
                    }));
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === xhr.DONE && xhr.status === 200) {
                            reported = parseInt(xhr.responseText);
                            if(reported){
                                alert("Reported")
                            }

                            // check if request is Done and need to report
                            if(!reported && (xhr.readyState==xhr.DONE)){
                                var comp = prompt('WORKOUT REPORT:\n'+'Please enter workout completion in %');
                                if(comp===null||comp==""){
                                    alert('Invalid input!\nTry again.');
                                    return;
                                }
                                var diff = prompt('WORKOUT REPORT:\n'+'Describe your personal difficulty: \n'+'TOO_EASY - 0,\n' +
                                    '  TOO EASY - 1,\n' +
                                    '  EASY - 2,\n' +
                                    '  JUST RIGHT - 3,\n' +
                                    '  A BIT CHALLENGING - 4,\n' +
                                    '  TOUGH BUT POSSIBLE - 5,\n' +
                                    '  VERY TOUGH - 6,\n' +
                                    '  EXTRA TOUGH - 7,   \n' +
                                    '  ALMOST IMPOSSIBLE - 8, \n' +
                                    '  NOT FOR ME - 9');
                                if(diff===null||diff==""){
                                    alert('Invalid input!\nTry again.');
                                    return;
                                }
                                var motivation = prompt('WORKOUT REPORT:\n'+'Describe your motivation level 0-100 or more!:');
                                if(motivation===null||motivation==""){
                                    alert('Invalid input!\nTry again.');
                                    return;
                                }
                                 // update database
                                var xhr2 = new XMLHttpRequest();
                                xhr2.open("POST", "/insert reports to DB", true);
                                xhr2.setRequestHeader('Content-Type', 'application/json');
                                xhr2.send(JSON.stringify({
                                    _id:id,
                                    workout_date: event_date,
                                    personal_difficulty: diff,
                                    workout_completion: comp,
                                    motivation: motivation,
                                }));
                                // waiting for server response to insert report
                                xhr2.onreadystatechange = function () {
                                    if (xhr2.readyState === xhr2.DONE && xhr2.status === 200) {
                                        if(parseInt(xhr2.responseText)){
                                            alert('GREAT!\nREPORT IS DONE');
                                        }
                                        else{
                                            alert('There was an error');
                                        }
                                    }
                                }
                            }
                       }
                    }

                  },
                // pull workouts from DB to display
                 events :[
                    {% for event in events %}
                    {
                        title:'{{event.title}}',
                        date:'{{event.date}}',
                    },
                    {% endfor %}
                ],
            headerToolbar: {
            center: 'addEventButton'
            },
            customButtons: {
                addEventButton: {
                text: 'add workout...',
                click: function() {
                var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                if(dateStr===null||dateStr==""){ // check if input not Null or empty
                    alert('Invalid date!\nTry again.');
                    return;
                }
                var workoutname = prompt('Enter workout name');
                if(workoutname===null||workoutname==""){
                    alert('Invalid workout name!\nTry again.');
                    return;
                }
                var start = prompt('Enter workout start time');
                if(start===null||start==""){
                    alert('Invalid workout start time!\nTry again.');
                    return;
                }
                var duration = prompt('Enter workout duration in minutes');
                if(duration===null||duration==""){
                    alert('Invalid duration!\nTry again.');
                    return;
                }
                var type = prompt('Enter type : Aerobic/Stretch/Power/Core/..\nAerobic+Power/Stretch+Core...');
                if(type===null||type==""){
                    alert('Invalid duration!\nTry again.');
                    return;
                }
                var date = new Date(dateStr + 'T00:00:00'); // will be in local time


                if (!isNaN(date.valueOf())) { // valid?
                    var event_title =workoutname+" "+start;
                    calendar.addEvent({
                    title: event_title,
                    start: date,
                    allDay: true
                    });
                    // update database
                    var xhr = new XMLHttpRequest();
                    var id = "{{value_id}}"
                    xhr.open("POST", "/insert workouts to DB", true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({
                        _id:id,
                        workout_name: workoutname,
                        workout_type: type,
                        workout_date: dateStr,
                        start_hour: start,
                        duration: duration
                    }));

                } else {
                    alert('Invalid date!\nTry again.');
                     }
                    }
                }
             },
            });
            calendar.render();

        </script>


    </body>