<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total workout time Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>
<body>
    <p> Hello {{value}} !</p>
    <br><br><br>
    <caption><h2> Here is your Graph: </h2></caption>
    <br><br>
    <div id="total_time_graph">
        <canvas id="myTotalTimeChart" width="700" height="300"></canvas>
        <script>
            var ctx = document.getElementById("myTotalTimeChart").getContext("2d");
            var pieChart = new Chart(ctx, {
                type: "bar",
                data:{
                    labels:{{labels| safe}},
                    datasets:[{
                        label:"Total workout time",
                        data: {{values|safe}},
                        //fill: false,
                        backgroundColor: [
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)', 'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                          'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)', 'rgb(255, 99, 132)',
                            'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)',
                        ],
                        borderWidth: 3,
                            }]
                    },
                });
        </script>
    </div>
    <br><br><br>
    <caption><h2> {{notice}} </h2></caption>
</body>
</html>